Repository vergissberlin/codestats-readme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(github): add comprehensive issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/pull_request_template.md
  .github/workflows/release-please.yml
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

fix(ci): correct pnpm setup order in GitHub Actions
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): update all dependencies to latest compatible versions
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
Due: prettier --write

build(config): adapt ESLint and TypeScript config to v10 and v6
  eslint.config.js
  tsconfig.json
Due: prettier --write

ci(node): move to Node 24 LTS, pnpm 11 and current action versions
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  Dockerfile
  action.yml
Due: prettier --write

test: repair pre-existing failures left by the TypeScript migration
  tests/api-validation.test.js
  tests/index.test.js
Due: none

style: format files that already violated Prettier and markdownlint
  .markdownlint.jsonc
  WARP.md
  src/index.ts
Due: eslint --fix, prettier --write

fix(docker): skip lifecycle scripts in the runtime install
  Dockerfile
Due: none

fix(action): make the action runnable, harden git/env handling, add marketplace README
  CONTRIBUTING.md
  Dockerfile
  README.md
  WARP.md
  action.yml
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/lib/chart.ts
  src/types/index.ts
  tests/api-validation.test.js
  tests/bar.js
  tests/build-chart-error-handling.test.js
  tests/chart.test.js
  tests/git-operations.test.js
  tests/git.js
  tests/index.test.js
  tests/replace.js
Due: eslint --fix, prettier --write

test(api-validation): mock fs to stop the suite from writing the real README
  tests/api-validation.test.js
Due: none

fix(deps): make TypeScript 7 work with typescript-eslint
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): make TypeScript 7 work with typescript-eslint (#43)
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: format CHANGELOG.md with Prettier
  CHANGELOG.md
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,yml,yaml})
